*, ::before, ::after {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position:  ;
  --tw-gradient-via-position:  ;
  --tw-gradient-to-position:  ;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
  --tw-contain-size:  ;
  --tw-contain-layout:  ;
  --tw-contain-paint:  ;
  --tw-contain-style:  ;
}

::backdrop {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position:  ;
  --tw-gradient-via-position:  ;
  --tw-gradient-to-position:  ;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
  --tw-contain-size:  ;
  --tw-contain-layout:  ;
  --tw-contain-paint:  ;
  --tw-contain-style:  ;
}

/*
! tailwindcss v3.4.14 | MIT License | https://tailwindcss.com
*/

/*
1. Prevent padding and border from affecting element width. (https://github.com/mozdevs/cssremedy/issues/4)
2. Allow adding a border to an element by just adding a border-width. (https://github.com/tailwindcss/tailwindcss/pull/116)
*/

*,
::before,
::after {
  box-sizing: border-box;
  /* 1 */
  border-width: 0;
  /* 2 */
  border-style: solid;
  /* 2 */
  border-color: #e5e7eb;
  /* 2 */
}

::before,
::after {
  --tw-content: '';
}

/*
1. Use a consistent sensible line-height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size.
4. Use the user's configured `sans` font-family by default.
5. Use the user's configured `sans` font-feature-settings by default.
6. Use the user's configured `sans` font-variation-settings by default.
7. Disable tap highlights on iOS
*/

html,
:host {
  line-height: 1.5;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -moz-tab-size: 4;
  /* 3 */
  -o-tab-size: 4;
     tab-size: 4;
  /* 3 */
  font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  /* 4 */
  font-feature-settings: normal;
  /* 5 */
  font-variation-settings: normal;
  /* 6 */
  -webkit-tap-highlight-color: transparent;
  /* 7 */
}

/*
1. Remove the margin in all browsers.
2. Inherit line-height from `html` so users can set them as a class directly on the `html` element.
*/

body {
  margin: 0;
  /* 1 */
  line-height: inherit;
  /* 2 */
}

/*
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
3. Ensure horizontal rules are visible by default.
*/

hr {
  height: 0;
  /* 1 */
  color: inherit;
  /* 2 */
  border-top-width: 1px;
  /* 3 */
}

/*
Add the correct text decoration in Chrome, Edge, and Safari.
*/

abbr:where([title]) {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/*
Remove the default font size and weight for headings.
*/

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*
Reset links to optimize for opt-in styling instead of opt-out.
*/

a {
  color: inherit;
  text-decoration: inherit;
}

/*
Add the correct font weight in Edge and Safari.
*/

b,
strong {
  font-weight: bolder;
}

/*
1. Use the user's configured `mono` font-family by default.
2. Use the user's configured `mono` font-feature-settings by default.
3. Use the user's configured `mono` font-variation-settings by default.
4. Correct the odd `em` font sizing in all browsers.
*/

code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  /* 1 */
  font-feature-settings: normal;
  /* 2 */
  font-variation-settings: normal;
  /* 3 */
  font-size: 1em;
  /* 4 */
}

/*
Add the correct font size in all browsers.
*/

small {
  font-size: 80%;
}

/*
Prevent `sub` and `sup` elements from affecting the line height in all browsers.
*/

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
3. Remove gaps between table borders by default.
*/

table {
  text-indent: 0;
  /* 1 */
  border-color: inherit;
  /* 2 */
  border-collapse: collapse;
  /* 3 */
}

/*
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
3. Remove default padding in all browsers.
*/

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-feature-settings: inherit;
  /* 1 */
  font-variation-settings: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  font-weight: inherit;
  /* 1 */
  line-height: inherit;
  /* 1 */
  letter-spacing: inherit;
  /* 1 */
  color: inherit;
  /* 1 */
  margin: 0;
  /* 2 */
  padding: 0;
  /* 3 */
}

/*
Remove the inheritance of text transform in Edge and Firefox.
*/

button,
select {
  text-transform: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Remove default button styles.
*/

button,
input:where([type='button']),
input:where([type='reset']),
input:where([type='submit']) {
  -webkit-appearance: button;
  /* 1 */
  background-color: transparent;
  /* 2 */
  background-image: none;
  /* 2 */
}

/*
Use the modern Firefox focus style for all focusable elements.
*/

:-moz-focusring {
  outline: auto;
}

/*
Remove the additional `:invalid` styles in Firefox. (https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737)
*/

:-moz-ui-invalid {
  box-shadow: none;
}

/*
Add the correct vertical alignment in Chrome and Firefox.
*/

progress {
  vertical-align: baseline;
}

/*
Correct the cursor style of increment and decrement buttons in Safari.
*/

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/*
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/

[type='search'] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/*
Remove the inner padding in Chrome and Safari on macOS.
*/

::-webkit-search-decoration {
  -webkit-appearance: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to `inherit` in Safari.
*/

::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Add the correct display in Chrome and Safari.
*/

summary {
  display: list-item;
}

/*
Removes the default spacing and border for appropriate elements.
*/

blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  margin: 0;
}

fieldset {
  margin: 0;
  padding: 0;
}

legend {
  padding: 0;
}

ol,
ul,
menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

/*
Reset default styling for dialogs.
*/

dialog {
  padding: 0;
}

/*
Prevent resizing textareas horizontally by default.
*/

textarea {
  resize: vertical;
}

/*
1. Reset the default placeholder opacity in Firefox. (https://github.com/tailwindlabs/tailwindcss/issues/3300)
2. Set the default placeholder color to the user's configured gray 400 color.
*/

input::-moz-placeholder, textarea::-moz-placeholder {
  opacity: 1;
  /* 1 */
  color: #9ca3af;
  /* 2 */
}

input::placeholder,
textarea::placeholder {
  opacity: 1;
  /* 1 */
  color: #9ca3af;
  /* 2 */
}

/*
Set the default cursor for buttons.
*/

button,
[role="button"] {
  cursor: pointer;
}

/*
Make sure disabled buttons don't get the pointer cursor.
*/

:disabled {
  cursor: default;
}

/*
1. Make replaced elements `display: block` by default. (https://github.com/mozdevs/cssremedy/issues/14)
2. Add `vertical-align: middle` to align replaced elements more sensibly by default. (https://github.com/jensimmons/cssremedy/issues/14#issuecomment-634934210)
   This can trigger a poorly considered lint error in some tools but is included by design.
*/

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block;
  /* 1 */
  vertical-align: middle;
  /* 2 */
}

/*
Constrain images and videos to the parent width and preserve their intrinsic aspect ratio. (https://github.com/mozdevs/cssremedy/issues/14)
*/

img,
video {
  max-width: 100%;
  height: auto;
}

/* Make elements with the HTML hidden attribute stay hidden by default */

[hidden]:where(:not([hidden="until-found"])) {
  display: none;
}

.container {
  width: 100%;
}

@media (min-width: 640px) {
  .container {
    max-width: 640px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }
}

@media (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
}

@media (min-width: 1536px) {
  .container {
    max-width: 1536px;
  }
}

body {
  font-family: "Poppins", sans-serif !important;
}

.text-lh-1_5 {
  line-height: 1.5 !important;
}

#mainContent {
  min-height: calc(100vh - 140px);
}

.dash-sb-menu-item {
  line-height: 1.2;
  text-align: center;
  transition-property: all;
  transition-duration: 300ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.dash-sb-menu-item.active,
  .dash-sb-menu-item:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(133 193 109 / var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: rgb(0 0 0 / var(--tw-text-opacity));
}

.skd-form-control {
  display: inline-block;
  height: 34px;
  width: 100%;
  border-radius: 5px;
  border-width: 1px;
  --tw-border-opacity: 1;
  border-color: rgb(193 197 205 / var(--tw-border-opacity));
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  font-size: 14px;
  --tw-text-opacity: 1;
  color: rgb(110 118 132 / var(--tw-text-opacity));
}

.skd-form-control::-moz-placeholder {
  --tw-text-opacity: 1;
  color: rgb(110 118 132 / var(--tw-text-opacity));
}

.skd-form-control::placeholder {
  --tw-text-opacity: 1;
  color: rgb(110 118 132 / var(--tw-text-opacity));
}

.skd-form-control:focus {
  --tw-border-opacity: 1;
  border-color: rgb(133 193 109 / var(--tw-border-opacity));
  outline: 2px solid transparent;
  outline-offset: 2px;
  --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
  --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(0px + var(--tw-ring-offset-width)) var(--tw-ring-color);
  box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow, 0 0 #0000);
}

.skd-form-control:focus-visible {
  outline: 2px solid transparent;
  outline-offset: 2px;
  --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
  --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(0px + var(--tw-ring-offset-width)) var(--tw-ring-color);
  box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow, 0 0 #0000);
}

textarea.skd-form-control {
  height: 100px;
  resize: none;
}

select.skd-form-control {
  cursor: pointer;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  padding-left: 10px;
  padding-right: 30px;
  background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="9" viewBox="0 0 16 9" fill="none"><path d="M15 1L8 8L1 1" stroke="%23130F26" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/></svg>');
  background-color: #ffffff;
  background-position: calc(100% - 8px) center;
  background-repeat: no-repeat;
  background-size: 13px;
}

.skd-form-control:focus {
  outline-width: 1px !important;
}

.site-dash-main .text-base {
  font-size: 15px;
}

.dash-skd-tab-menu {
  display: flex;
  width: 100%;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
}

.dash-skd-tab-menu .tab-btn-item {
  position: relative;
  display: flex;
  height: 40px;
  flex-grow: 1;
  border-collapse: collapse;
  align-items: center;
  justify-content: center;
  gap: 5px;
  border-width: 1px;
  border-right-width: 0px;
  --tw-border-opacity: 1;
  border-color: rgb(89 160 221 / var(--tw-border-opacity));
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 5px;
  padding-right: 5px;
  text-align: center;
  transition-property: all;
  transition-duration: 300ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

@media (min-width: 768px) {
  .dash-skd-tab-menu .tab-btn-item {
    height: 50px;
    flex-grow: 0;
    gap: 0.5rem;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }
}

@media (min-width: 1024px) {
  .dash-skd-tab-menu .tab-btn-item {
    padding-left: 3rem;
    padding-right: 3rem;
  }
}

.dash-skd-tab-menu .tab-btn-item:first-child {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.dash-skd-tab-menu .tab-btn-item:last-child {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-right-width: 1px;
  --tw-border-opacity: 1;
  border-right-color: rgb(89 160 221 / var(--tw-border-opacity));
}

.dash-skd-tab-menu .tab-btn-item .tab-btn-text {
  display: block;
  font-size: 14px;
  line-height: 1.25;
}

@media (min-width: 768px) {
  .dash-skd-tab-menu .tab-btn-item .tab-btn-text {
    font-size: 15px;
  }
}

.dash-skd-tab-menu .tab-btn-item .tab-btn-icon {
  display: block;
}

.dash-skd-tab-menu .tab-btn-item .tab-btn-icon svg {
  height: 20px;
  width: 20px;
}

@media (min-width: 768px) {
  .dash-skd-tab-menu .tab-btn-item .tab-btn-icon svg {
    height: 25px;
    width: 25px;
  }
}

.dash-skd-tab-menu .tab-btn-item .tab-btn-icon svg path {
  fill: #59A0DD;
}

.dash-skd-tab-menu .tab-btn-item.tab-active,
  .dash-skd-tab-menu .tab-btn-item:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(89 160 221 / var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}

.dash-skd-tab-menu .tab-btn-item.tab-active .tab-btn-icon svg path,
  .dash-skd-tab-menu .tab-btn-item:hover .tab-btn-icon svg path {
  fill: #ffffff;
}

.course-list-item {
  line-height: 1.5;
  position: relative;
  display: flex;
  min-height: 30px;
  align-items: flex-start;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 30px;
  text-align: left;
  font-size: 14px;
}

@media (min-width: 768px) {
  .course-list-item {
    font-size: 15px;
  }
}

.course-list-item a {
  --tw-text-opacity: 1;
  color: rgb(0 0 0 / var(--tw-text-opacity));
  text-decoration-line: none;
  transition-property: all;
  transition-duration: 300ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.course-list-item a:hover {
  --tw-text-opacity: 1;
  color: rgb(60 141 188 / var(--tw-text-opacity));
}

.course-list-item:before {
  position: absolute;
  left: 0px;
  top: 0px;
  display: block;
  height: 30px;
  width: 30px;
  background-position: center;
  background-repeat: no-repeat;
  --tw-content: '';
  content: var(--tw-content);
  background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="14" height="16" viewBox="0 0 14 16" fill="none"><path d="M12.7885 9.41375C12.7179 9.48625 12.4512 9.79625 12.2028 10.0512C10.7463 11.655 6.94703 14.28 4.95848 15.0812C4.65648 15.21 3.89296 15.4825 3.48502 15.5C3.09413 15.5 2.72151 15.41 2.36593 15.2275C1.92267 14.9725 1.5671 14.5713 1.37226 14.0975C1.24683 13.7688 1.052 12.785 1.052 12.7675C0.85716 11.6913 0.75 9.9425 0.75 8.01C0.75 6.16875 0.85716 4.49125 1.01668 3.39875C1.03495 3.38125 1.22979 2.15875 1.44289 1.74C1.83378 0.975 2.5973 0.5 3.41439 0.5H3.48502C4.01717 0.51875 5.13626 0.99375 5.13626 1.01125C7.01766 1.81375 10.7293 4.31 12.221 5.96875C12.221 5.96875 12.6411 6.395 12.8238 6.66125C13.1087 7.04375 13.25 7.5175 13.25 7.99125C13.25 8.52 13.0905 9.0125 12.7885 9.41375" fill="%233C8DBC"/></svg>');
}

.skd-table table th,
  .skd-table table td {
  border-collapse: collapse;
  border-width: 1px;
  --tw-border-opacity: 1;
  border-color: rgb(217 217 217 / var(--tw-border-opacity));
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  vertical-align: middle;
  font-size: 13px;
}

@media (min-width: 1536px) {
  .skd-table table th,
  .skd-table table td {
    padding-left: 12px;
    padding-right: 12px;
    font-size: 15px;
  }
}

.skd-table table td.break-words {
  white-space: inherit;
  word-break: break-word;
  min-width: 120px;
}

.input-error {
  --tw-border-opacity: 1 !important;
  border-color: rgb(239 68 68 / var(--tw-border-opacity)) !important;
}

@media (min-width: 1024px) {
  .site-dash-main {
    padding-left: 270px;
  }

  .site-dash-main.sidebarOpen {
    padding-left: 100px;
  }

  .site-dash-main .skd-sidebar {
    width: 270px;
    transition-property: all;
    transition-duration: 200ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  .site-dash-main.sidebarOpen .skd-sidebar {
    width: 100px;
  }

  .site-dash-main.sidebarOpen .menuBodyWrap {
    display: none;
  }

  .site-dash-main .skd-sidebar .sb-menu-text {
    transition-property: all;
    transition-duration: 200ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  .site-dash-main.sidebarOpen .skd-sidebar .sb-menu-text {
    display: none;
  }
}

@media (max-width: 1023px){
  .skd-course-view .skd-card-col,
    .skd-course-view .trc-course-item {
    margin-left: auto;
    margin-right: auto;
    max-width: 450px;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .site-dash-main{
    padding-left: 120px !important;
  }

  .site-dash-main.sidebarOpen .skd-sidebar,
    .site-dash-main .skd-sidebar{
    width: 120px;
  }

  .site-dash-main .skd-sidebar .sb-menu-icon{
    height: 40px;
    width: 40px;
  }

  .site-dash-main .sb-menu-text {
    font-size: 14px;
  }
}

@media (max-width: 767px){
  .site-dash-main .skd-sidebar {
    transform: translateY(-100%);
    transform: translateZ(0) translateY(-100%);
    transform: translate3d(-100%, 0, 0);
  }

  .site-dash-main.sidebarOpen .skd-sidebar {
    transform: translateY(0);
    transform: translateZ(0) translateY(0);
    transform: translate3d(0, 0, 0);
  }

  .site-dash-main.sidebarOpen .menuBodyWrap {
    display: block;
  }

  body .site-dash-main.sidebarOpen {
    padding-left: 0px;
  }

  .site-dash-main .skd-sidebar .sb-menu-icon{
    height: 40px;
    width: 40px;
  }

  .site-dash-main .sb-menu-text {
    font-size: 14px;
  }

  .site-dash-main .text-base {
    font-size: 14px;
  }

  .dash-skd-tab-menu,
    .trc-card-item,
    .trc-course-item {
    margin-left: auto;
    margin-right: auto;
    max-width: 450px;
  }
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.fixed {
  position: fixed;
}

.absolute {
  position: absolute;
}

.relative {
  position: relative;
}

.inset-0 {
  inset: 0px;
}

.-bottom-14 {
  bottom: -3.5rem;
}

.-left-14 {
  left: -3.5rem;
}

.bottom-0 {
  bottom: 0px;
}

.bottom-\[10px\] {
  bottom: 10px;
}

.left-0 {
  left: 0px;
}

.left-2 {
  left: 0.5rem;
}

.left-full {
  left: 100%;
}

.right-0 {
  right: 0px;
}

.right-2 {
  right: 0.5rem;
}

.right-4 {
  right: 1rem;
}

.right-\[10px\] {
  right: 10px;
}

.right-\[40px\] {
  right: 40px;
}

.top-0 {
  top: 0px;
}

.top-1\/2 {
  top: 50%;
}

.top-2 {
  top: 0.5rem;
}

.top-\[2px\] {
  top: 2px;
}

.top-\[80px\] {
  top: 80px;
}

.top-auto {
  top: auto;
}

.z-10 {
  z-index: 10;
}

.z-20 {
  z-index: 20;
}

.z-30 {
  z-index: 30;
}

.z-50 {
  z-index: 50;
}

.-mx-2 {
  margin-left: -0.5rem;
  margin-right: -0.5rem;
}

.mx-1 {
  margin-left: 0.25rem;
  margin-right: 0.25rem;
}

.mx-10 {
  margin-left: 2.5rem;
  margin-right: 2.5rem;
}

.mx-2 {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.mx-5 {
  margin-left: 1.25rem;
  margin-right: 1.25rem;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.my-10 {
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
}

.my-2 {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.my-20 {
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.my-\[1px\] {
  margin-top: 1px;
  margin-bottom: 1px;
}

.-mb-px {
  margin-bottom: -1px;
}

.mb-1 {
  margin-bottom: 0.25rem;
}

.mb-2 {
  margin-bottom: 0.5rem;
}

.mb-3 {
  margin-bottom: 0.75rem;
}

.mb-4 {
  margin-bottom: 1rem;
}

.mb-5 {
  margin-bottom: 1.25rem;
}

.mb-6 {
  margin-bottom: 1.5rem;
}

.mb-8 {
  margin-bottom: 2rem;
}

.mb-\[1px\] {
  margin-bottom: 1px;
}

.ml-0 {
  margin-left: 0px;
}

.ml-2 {
  margin-left: 0.5rem;
}

.ml-4 {
  margin-left: 1rem;
}

.ml-6 {
  margin-left: 1.5rem;
}

.mr-1 {
  margin-right: 0.25rem;
}

.mr-2 {
  margin-right: 0.5rem;
}

.mr-4 {
  margin-right: 1rem;
}

.mr-\[10px\] {
  margin-right: 10px;
}

.mt-1 {
  margin-top: 0.25rem;
}

.mt-10 {
  margin-top: 2.5rem;
}

.mt-2 {
  margin-top: 0.5rem;
}

.mt-3 {
  margin-top: 0.75rem;
}

.mt-4 {
  margin-top: 1rem;
}

.mt-5 {
  margin-top: 1.25rem;
}

.mt-6 {
  margin-top: 1.5rem;
}

.mt-8 {
  margin-top: 2rem;
}

.mt-\[15px\] {
  margin-top: 15px;
}

.mt-\[20px\] {
  margin-top: 20px;
}

.block {
  display: block;
}

.inline-block {
  display: inline-block;
}

.flex {
  display: flex;
}

.inline-flex {
  display: inline-flex;
}

.table {
  display: table;
}

.grid {
  display: grid;
}

.hidden {
  display: none;
}

.h-10 {
  height: 2.5rem;
}

.h-14 {
  height: 3.5rem;
}

.h-16 {
  height: 4rem;
}

.h-2 {
  height: 0.5rem;
}

.h-32 {
  height: 8rem;
}

.h-4 {
  height: 1rem;
}

.h-5 {
  height: 1.25rem;
}

.h-6 {
  height: 1.5rem;
}

.h-8 {
  height: 2rem;
}

.h-\[126px\] {
  height: 126px;
}

.h-\[160px\] {
  height: 160px;
}

.h-\[16px\] {
  height: 16px;
}

.h-\[170px\] {
  height: 170px;
}

.h-\[175px\] {
  height: 175px;
}

.h-\[200px\] {
  height: 200px;
}

.h-\[20px\] {
  height: 20px;
}

.h-\[30px\] {
  height: 30px;
}

.h-\[34px\] {
  height: 34px;
}

.h-\[36px\] {
  height: 36px;
}

.h-\[40px\] {
  height: 40px;
}

.h-\[50px\] {
  height: 50px;
}

.h-\[54px\] {
  height: 54px;
}

.h-\[58px\] {
  height: 58px;
}

.h-\[60px\] {
  height: 60px;
}

.h-\[80px\] {
  height: 80px;
}

.h-auto {
  height: auto;
}

.h-full {
  height: 100%;
}

.h-min {
  height: -moz-min-content;
  height: min-content;
}

.min-h-\[120px\] {
  min-height: 120px;
}

.min-h-\[20px\] {
  min-height: 20px;
}

.min-h-\[30px\] {
  min-height: 30px;
}

.min-h-\[40px\] {
  min-height: 40px;
}

.min-h-screen {
  min-height: 100vh;
}

.w-10 {
  width: 2.5rem;
}

.w-14 {
  width: 3.5rem;
}

.w-32 {
  width: 8rem;
}

.w-4 {
  width: 1rem;
}

.w-48 {
  width: 12rem;
}

.w-6 {
  width: 1.5rem;
}

.w-8 {
  width: 2rem;
}

.w-80 {
  width: 20rem;
}

.w-96 {
  width: 24rem;
}

.w-\[100px\] {
  width: 100px;
}

.w-\[110px\] {
  width: 110px;
}

.w-\[120px\] {
  width: 120px;
}

.w-\[140px\] {
  width: 140px;
}

.w-\[150px\] {
  width: 150px;
}

.w-\[160px\] {
  width: 160px;
}

.w-\[16px\] {
  width: 16px;
}

.w-\[180px\] {
  width: 180px;
}

.w-\[18px\] {
  width: 18px;
}

.w-\[1px\] {
  width: 1px;
}

.w-\[200px\] {
  width: 200px;
}

.w-\[20px\] {
  width: 20px;
}

.w-\[240px\] {
  width: 240px;
}

.w-\[24px\] {
  width: 24px;
}

.w-\[30px\] {
  width: 30px;
}

.w-\[340px\] {
  width: 340px;
}

.w-\[40px\] {
  width: 40px;
}

.w-\[50px\] {
  width: 50px;
}

.w-\[60px\] {
  width: 60px;
}

.w-\[70px\] {
  width: 70px;
}

.w-\[80px\] {
  width: 80px;
}

.w-\[90\%\] {
  width: 90%;
}

.w-\[90px\] {
  width: 90px;
}

.w-auto {
  width: auto;
}

.w-full {
  width: 100%;
}

.min-w-\[12px\] {
  min-width: 12px;
}

.min-w-\[13px\] {
  min-width: 13px;
}

.min-w-\[200px\] {
  min-width: 200px;
}

.min-w-\[240px\] {
  min-width: 240px;
}

.min-w-\[40px\] {
  min-width: 40px;
}

.min-w-\[50px\] {
  min-width: 50px;
}

.min-w-\[550px\] {
  min-width: 550px;
}

.min-w-\[580px\] {
  min-width: 580px;
}

.min-w-\[80px\] {
  min-width: 80px;
}

.min-w-\[940px\] {
  min-width: 940px;
}

.max-w-\[1140px\] {
  max-width: 1140px;
}

.max-w-\[1280px\] {
  max-width: 1280px;
}

.max-w-\[160px\] {
  max-width: 160px;
}

.max-w-\[170px\] {
  max-width: 170px;
}

.max-w-\[280px\] {
  max-width: 280px;
}

.max-w-\[320px\] {
  max-width: 320px;
}

.max-w-\[400px\] {
  max-width: 400px;
}

.max-w-\[440px\] {
  max-width: 440px;
}

.max-w-\[500px\] {
  max-width: 500px;
}

.max-w-\[540px\] {
  max-width: 540px;
}

.max-w-\[600px\] {
  max-width: 600px;
}

.max-w-\[620px\] {
  max-width: 620px;
}

.max-w-\[640px\] {
  max-width: 640px;
}

.max-w-\[700px\] {
  max-width: 700px;
}

.max-w-full {
  max-width: 100%;
}

.flex-1 {
  flex: 1 1 0%;
}

.border-spacing-2 {
  --tw-border-spacing-x: 0.5rem;
  --tw-border-spacing-y: 0.5rem;
  border-spacing: var(--tw-border-spacing-x) var(--tw-border-spacing-y);
}

.-translate-y-1\/2 {
  --tw-translate-y: -50%;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.-translate-y-4 {
  --tw-translate-y: -1rem;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.translate-y-0 {
  --tw-translate-y: 0px;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.transform {
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.cursor-pointer {
  cursor: pointer;
}

.grid-cols-1 {
  grid-template-columns: repeat(1, minmax(0, 1fr));
}

.grid-cols-2 {
  grid-template-columns: repeat(2, minmax(0, 1fr));
}

.grid-cols-7 {
  grid-template-columns: repeat(7, minmax(0, 1fr));
}

.grid-rows-6 {
  grid-template-rows: repeat(6, minmax(0, 1fr));
}

.flex-col {
  flex-direction: column;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-nowrap {
  flex-wrap: nowrap;
}

.items-start {
  align-items: flex-start;
}

.items-center {
  align-items: center;
}

.items-baseline {
  align-items: baseline;
}

.justify-start {
  justify-content: flex-start;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.justify-around {
  justify-content: space-around;
}

.justify-items-start {
  justify-items: start;
}

.gap-1 {
  gap: 0.25rem;
}

.gap-2 {
  gap: 0.5rem;
}

.gap-3 {
  gap: 0.75rem;
}

.gap-4 {
  gap: 1rem;
}

.gap-5 {
  gap: 1.25rem;
}

.gap-6 {
  gap: 1.5rem;
}

.gap-\[10px\] {
  gap: 10px;
}

.gap-\[20px\] {
  gap: 20px;
}

.gap-\[30px\] {
  gap: 30px;
}

.gap-\[5px\] {
  gap: 5px;
}

.-space-x-px > :not([hidden]) ~ :not([hidden]) {
  --tw-space-x-reverse: 0;
  margin-right: calc(-1px * var(--tw-space-x-reverse));
  margin-left: calc(-1px * calc(1 - var(--tw-space-x-reverse)));
}

.overflow-hidden {
  overflow: hidden;
}

.overflow-x-auto {
  overflow-x: auto;
}

.overflow-y-auto {
  overflow-y: auto;
}

.overflow-x-hidden {
  overflow-x: hidden;
}

.whitespace-nowrap {
  white-space: nowrap;
}

.rounded {
  border-radius: 0.25rem;
}

.rounded-\[5px\] {
  border-radius: 5px;
}

.rounded-\[8px\] {
  border-radius: 8px;
}

.rounded-full {
  border-radius: 9999px;
}

.rounded-lg {
  border-radius: 0.5rem;
}

.rounded-md {
  border-radius: 0.375rem;
}

.rounded-sm {
  border-radius: 0.125rem;
}

.rounded-xl {
  border-radius: 0.75rem;
}

.rounded-t {
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
}

.rounded-t-md {
  border-top-left-radius: 0.375rem;
  border-top-right-radius: 0.375rem;
}

.border {
  border-width: 1px;
}

.border-b {
  border-bottom-width: 1px;
}

.border-b-\[4px\] {
  border-bottom-width: 4px;
}

.border-l {
  border-left-width: 1px;
}

.border-r {
  border-right-width: 1px;
}

.border-t {
  border-top-width: 1px;
}

.border-\[\#0F6849\] {
  --tw-border-opacity: 1;
  border-color: rgb(15 104 73 / var(--tw-border-opacity));
}

.border-\[\#33DADA\] {
  --tw-border-opacity: 1;
  border-color: rgb(51 218 218 / var(--tw-border-opacity));
}

.border-\[\#3C8DBC\] {
  --tw-border-opacity: 1;
  border-color: rgb(60 141 188 / var(--tw-border-opacity));
}

.border-\[\#59A0DD\] {
  --tw-border-opacity: 1;
  border-color: rgb(89 160 221 / var(--tw-border-opacity));
}

.border-\[\#7BB0FF\] {
  --tw-border-opacity: 1;
  border-color: rgb(123 176 255 / var(--tw-border-opacity));
}

.border-\[\#7BE7FF\] {
  --tw-border-opacity: 1;
  border-color: rgb(123 231 255 / var(--tw-border-opacity));
}

.border-\[\#85C16D\] {
  --tw-border-opacity: 1;
  border-color: rgb(133 193 109 / var(--tw-border-opacity));
}

.border-\[\#A2E09D\] {
  --tw-border-opacity: 1;
  border-color: rgb(162 224 157 / var(--tw-border-opacity));
}

.border-\[\#C1C5CD\] {
  --tw-border-opacity: 1;
  border-color: rgb(193 197 205 / var(--tw-border-opacity));
}

.border-\[\#CB7EFF\] {
  --tw-border-opacity: 1;
  border-color: rgb(203 126 255 / var(--tw-border-opacity));
}

.border-\[\#E57AFF\] {
  --tw-border-opacity: 1;
  border-color: rgb(229 122 255 / var(--tw-border-opacity));
}

.border-\[\#EBEEF2\] {
  --tw-border-opacity: 1;
  border-color: rgb(235 238 242 / var(--tw-border-opacity));
}

.border-\[\#F4FFF8\] {
  --tw-border-opacity: 1;
  border-color: rgb(244 255 248 / var(--tw-border-opacity));
}

.border-cyan-300 {
  --tw-border-opacity: 1;
  border-color: rgb(103 232 249 / var(--tw-border-opacity));
}

.border-fuchsia-500 {
  --tw-border-opacity: 1;
  border-color: rgb(217 70 239 / var(--tw-border-opacity));
}

.border-gray-200 {
  --tw-border-opacity: 1;
  border-color: rgb(229 231 235 / var(--tw-border-opacity));
}

.border-gray-300 {
  --tw-border-opacity: 1;
  border-color: rgb(209 213 219 / var(--tw-border-opacity));
}

.border-purple-500 {
  --tw-border-opacity: 1;
  border-color: rgb(168 85 247 / var(--tw-border-opacity));
}

.border-rose-400 {
  --tw-border-opacity: 1;
  border-color: rgb(251 113 133 / var(--tw-border-opacity));
}

.bg-\[\#00684D\] {
  --tw-bg-opacity: 1;
  background-color: rgb(0 104 77 / var(--tw-bg-opacity));
}

.bg-\[\#00A65A\] {
  --tw-bg-opacity: 1;
  background-color: rgb(0 166 90 / var(--tw-bg-opacity));
}

.bg-\[\#0F6849\] {
  --tw-bg-opacity: 1;
  background-color: rgb(15 104 73 / var(--tw-bg-opacity));
}

.bg-\[\#3C8DBC\] {
  --tw-bg-opacity: 1;
  background-color: rgb(60 141 188 / var(--tw-bg-opacity));
}

.bg-\[\#5DE1E1\] {
  --tw-bg-opacity: 1;
  background-color: rgb(93 225 225 / var(--tw-bg-opacity));
}

.bg-\[\#7BE7FF\] {
  --tw-bg-opacity: 1;
  background-color: rgb(123 231 255 / var(--tw-bg-opacity));
}

.bg-\[\#85C16D\] {
  --tw-bg-opacity: 1;
  background-color: rgb(133 193 109 / var(--tw-bg-opacity));
}

.bg-\[\#892626\] {
  --tw-bg-opacity: 1;
  background-color: rgb(137 38 38 / var(--tw-bg-opacity));
}

.bg-\[\#A2E09D\] {
  --tw-bg-opacity: 1;
  background-color: rgb(162 224 157 / var(--tw-bg-opacity));
}

.bg-\[\#ADDF98\] {
  --tw-bg-opacity: 1;
  background-color: rgb(173 223 152 / var(--tw-bg-opacity));
}

.bg-\[\#C4D0CB\] {
  --tw-bg-opacity: 1;
  background-color: rgb(196 208 203 / var(--tw-bg-opacity));
}

.bg-\[\#CB7EFF\] {
  --tw-bg-opacity: 1;
  background-color: rgb(203 126 255 / var(--tw-bg-opacity));
}

.bg-\[\#D9D9D9\] {
  --tw-bg-opacity: 1;
  background-color: rgb(217 217 217 / var(--tw-bg-opacity));
}

.bg-\[\#DBF5D0\] {
  --tw-bg-opacity: 1;
  background-color: rgb(219 245 208 / var(--tw-bg-opacity));
}

.bg-\[\#E57AFF\] {
  --tw-bg-opacity: 1;
  background-color: rgb(229 122 255 / var(--tw-bg-opacity));
}

.bg-\[\#E93030\] {
  --tw-bg-opacity: 1;
  background-color: rgb(233 48 48 / var(--tw-bg-opacity));
}

.bg-\[\#ECFAFC\] {
  --tw-bg-opacity: 1;
  background-color: rgb(236 250 252 / var(--tw-bg-opacity));
}

.bg-\[\#F0F0F0\] {
  --tw-bg-opacity: 1;
  background-color: rgb(240 240 240 / var(--tw-bg-opacity));
}

.bg-\[\#F3FFEE\] {
  --tw-bg-opacity: 1;
  background-color: rgb(243 255 238 / var(--tw-bg-opacity));
}

.bg-\[\#F4FFF8\] {
  --tw-bg-opacity: 1;
  background-color: rgb(244 255 248 / var(--tw-bg-opacity));
}

.bg-\[\#F7FCFC\] {
  --tw-bg-opacity: 1;
  background-color: rgb(247 252 252 / var(--tw-bg-opacity));
}

.bg-\[\#F8FCE9\] {
  --tw-bg-opacity: 1;
  background-color: rgb(248 252 233 / var(--tw-bg-opacity));
}

.bg-\[\#F8FCF9\] {
  --tw-bg-opacity: 1;
  background-color: rgb(248 252 249 / var(--tw-bg-opacity));
}

.bg-\[\#F9FAFC\] {
  --tw-bg-opacity: 1;
  background-color: rgb(249 250 252 / var(--tw-bg-opacity));
}

.bg-\[\#FBF7FC\] {
  --tw-bg-opacity: 1;
  background-color: rgb(251 247 252 / var(--tw-bg-opacity));
}

.bg-\[\#FBF8FD\] {
  --tw-bg-opacity: 1;
  background-color: rgb(251 248 253 / var(--tw-bg-opacity));
}

.bg-\[\#FCFCFC\] {
  --tw-bg-opacity: 1;
  background-color: rgb(252 252 252 / var(--tw-bg-opacity));
}

.bg-\[\#c3eeab\] {
  --tw-bg-opacity: 1;
  background-color: rgb(195 238 171 / var(--tw-bg-opacity));
}

.bg-\[\#d9edf6\] {
  --tw-bg-opacity: 1;
  background-color: rgb(217 237 246 / var(--tw-bg-opacity));
}

.bg-\[\#e8e2fd\] {
  --tw-bg-opacity: 1;
  background-color: rgb(232 226 253 / var(--tw-bg-opacity));
}

.bg-\[\#f8f9fd\] {
  --tw-bg-opacity: 1;
  background-color: rgb(248 249 253 / var(--tw-bg-opacity));
}

.bg-\[\#ffffff\] {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
}

.bg-black {
  --tw-bg-opacity: 1;
  background-color: rgb(0 0 0 / var(--tw-bg-opacity));
}

.bg-blue-50 {
  --tw-bg-opacity: 1;
  background-color: rgb(239 246 255 / var(--tw-bg-opacity));
}

.bg-gray-100 {
  --tw-bg-opacity: 1;
  background-color: rgb(243 244 246 / var(--tw-bg-opacity));
}

.bg-gray-300 {
  --tw-bg-opacity: 1;
  background-color: rgb(209 213 219 / var(--tw-bg-opacity));
}

.bg-gray-50 {
  --tw-bg-opacity: 1;
  background-color: rgb(249 250 251 / var(--tw-bg-opacity));
}

.bg-gray-600 {
  --tw-bg-opacity: 1;
  background-color: rgb(75 85 99 / var(--tw-bg-opacity));
}

.bg-green-600 {
  --tw-bg-opacity: 1;
  background-color: rgb(22 163 74 / var(--tw-bg-opacity));
}

.bg-red-500 {
  --tw-bg-opacity: 1;
  background-color: rgb(239 68 68 / var(--tw-bg-opacity));
}

.bg-white {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
}

.bg-opacity-10 {
  --tw-bg-opacity: 0.1;
}

.bg-opacity-50 {
  --tw-bg-opacity: 0.5;
}

.bg-gradient-to-r {
  background-image: linear-gradient(to right, var(--tw-gradient-stops));
}

.from-\[\#7FB2FF\] {
  --tw-gradient-from: #7FB2FF var(--tw-gradient-from-position);
  --tw-gradient-to: rgb(127 178 255 / 0) var(--tw-gradient-to-position);
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
}

.from-\[\#A57BFF\] {
  --tw-gradient-from: #A57BFF var(--tw-gradient-from-position);
  --tw-gradient-to: rgb(165 123 255 / 0) var(--tw-gradient-to-position);
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
}

.from-\[\#E579FF\] {
  --tw-gradient-from: #E579FF var(--tw-gradient-from-position);
  --tw-gradient-to: rgb(229 121 255 / 0) var(--tw-gradient-to-position);
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
}

.from-\[\#FF77A0\] {
  --tw-gradient-from: #FF77A0 var(--tw-gradient-from-position);
  --tw-gradient-to: rgb(255 119 160 / 0) var(--tw-gradient-to-position);
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
}

.from-green-400 {
  --tw-gradient-from: #4ade80 var(--tw-gradient-from-position);
  --tw-gradient-to: rgb(74 222 128 / 0) var(--tw-gradient-to-position);
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
}

.to-\[\#4B93FF\] {
  --tw-gradient-to: #4B93FF var(--tw-gradient-to-position);
}

.to-\[\#844AFF\] {
  --tw-gradient-to: #844AFF var(--tw-gradient-to-position);
}

.to-\[\#DA45FF\] {
  --tw-gradient-to: #DA45FF var(--tw-gradient-to-position);
}

.to-\[\#FF447C\] {
  --tw-gradient-to: #FF447C var(--tw-gradient-to-position);
}

.to-green-600 {
  --tw-gradient-to: #16a34a var(--tw-gradient-to-position);
}

.stroke-current {
  stroke: currentColor;
}

.object-cover {
  -o-object-fit: cover;
     object-fit: cover;
}

.p-0 {
  padding: 0px;
}

.p-1 {
  padding: 0.25rem;
}

.p-2 {
  padding: 0.5rem;
}

.p-3 {
  padding: 0.75rem;
}

.p-4 {
  padding: 1rem;
}

.p-5 {
  padding: 1.25rem;
}

.p-6 {
  padding: 1.5rem;
}

.p-\[10px\] {
  padding: 10px;
}

.p-\[15px\] {
  padding: 15px;
}

.p-\[16px\] {
  padding: 16px;
}

.p-\[20px\] {
  padding: 20px;
}

.p-\[5px\] {
  padding: 5px;
}

.px-1 {
  padding-left: 0.25rem;
  padding-right: 0.25rem;
}

.px-2 {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.px-3 {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}

.px-4 {
  padding-left: 1rem;
  padding-right: 1rem;
}

.px-5 {
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}

.px-6 {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.px-8 {
  padding-left: 2rem;
  padding-right: 2rem;
}

.px-\[10px\] {
  padding-left: 10px;
  padding-right: 10px;
}

.px-\[15px\] {
  padding-left: 15px;
  padding-right: 15px;
}

.px-\[20px\] {
  padding-left: 20px;
  padding-right: 20px;
}

.py-1 {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}

.py-2 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.py-3 {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}

.py-4 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.py-5 {
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
}

.py-6 {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.py-8 {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.py-\[10px\] {
  padding-top: 10px;
  padding-bottom: 10px;
}

.py-\[20px\] {
  padding-top: 20px;
  padding-bottom: 20px;
}

.py-\[30px\] {
  padding-top: 30px;
  padding-bottom: 30px;
}

.py-\[5px\] {
  padding-top: 5px;
  padding-bottom: 5px;
}

.py-\[8px\] {
  padding-top: 8px;
  padding-bottom: 8px;
}

.pb-1 {
  padding-bottom: 0.25rem;
}

.pb-2 {
  padding-bottom: 0.5rem;
}

.pb-4 {
  padding-bottom: 1rem;
}

.pb-6 {
  padding-bottom: 1.5rem;
}

.pb-\[20px\] {
  padding-bottom: 20px;
}

.pb-\[5px\] {
  padding-bottom: 5px;
}

.pb-\[60px\] {
  padding-bottom: 60px;
}

.pb-\[70px\] {
  padding-bottom: 70px;
}

.pl-0 {
  padding-left: 0px;
}

.pl-4 {
  padding-left: 1rem;
}

.pl-\[24px\] {
  padding-left: 24px;
}

.pr-14 {
  padding-right: 3.5rem;
}

.pr-4 {
  padding-right: 1rem;
}

.pr-8 {
  padding-right: 2rem;
}

.pt-2 {
  padding-top: 0.5rem;
}

.pt-4 {
  padding-top: 1rem;
}

.pt-6 {
  padding-top: 1.5rem;
}

.pt-\[10px\] {
  padding-top: 10px;
}

.pt-\[60px\] {
  padding-top: 60px;
}

.pt-\[7px\] {
  padding-top: 7px;
}

.pt-\[80px\] {
  padding-top: 80px;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.align-baseline {
  vertical-align: baseline;
}

.align-middle {
  vertical-align: middle;
}

.text-2xl {
  font-size: 1.5rem;
  line-height: 2rem;
}

.text-3xl {
  font-size: 1.875rem;
  line-height: 2.25rem;
}

.text-\[10px\] {
  font-size: 10px;
}

.text-\[12px\] {
  font-size: 12px;
}

.text-\[13px\] {
  font-size: 13px;
}

.text-\[14px\] {
  font-size: 14px;
}

.text-\[15px\] {
  font-size: 15px;
}

.text-\[16px\] {
  font-size: 16px;
}

.text-\[18px\] {
  font-size: 18px;
}

.text-\[20px\] {
  font-size: 20px;
}

.text-\[24px\] {
  font-size: 24px;
}

.text-base {
  font-size: 1rem;
  line-height: 1.5rem;
}

.text-sm {
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.text-xs {
  font-size: 0.75rem;
  line-height: 1rem;
}

.font-bold {
  font-weight: 700;
}

.font-medium {
  font-weight: 500;
}

.font-normal {
  font-weight: 400;
}

.font-semibold {
  font-weight: 600;
}

.uppercase {
  text-transform: uppercase;
}

.capitalize {
  text-transform: capitalize;
}

.leading-3 {
  line-height: .75rem;
}

.leading-5 {
  line-height: 1.25rem;
}

.leading-6 {
  line-height: 1.5rem;
}

.leading-\[16px\] {
  line-height: 16px;
}

.leading-\[18px\] {
  line-height: 18px;
}

.leading-none {
  line-height: 1;
}

.leading-tight {
  line-height: 1.25;
}

.text-\[\#000000\] {
  --tw-text-opacity: 1;
  color: rgb(0 0 0 / var(--tw-text-opacity));
}

.text-\[\#000B8C\] {
  --tw-text-opacity: 1;
  color: rgb(0 11 140 / var(--tw-text-opacity));
}

.text-\[\#0B9640\] {
  --tw-text-opacity: 1;
  color: rgb(11 150 64 / var(--tw-text-opacity));
}

.text-\[\#0DB14B\] {
  --tw-text-opacity: 1;
  color: rgb(13 177 75 / var(--tw-text-opacity));
}

.text-\[\#0E0E0E\] {
  --tw-text-opacity: 1;
  color: rgb(14 14 14 / var(--tw-text-opacity));
}

.text-\[\#2A2121\] {
  --tw-text-opacity: 1;
  color: rgb(42 33 33 / var(--tw-text-opacity));
}

.text-\[\#3C8DBC\] {
  --tw-text-opacity: 1;
  color: rgb(60 141 188 / var(--tw-text-opacity));
}

.text-\[\#474D49\] {
  --tw-text-opacity: 1;
  color: rgb(71 77 73 / var(--tw-text-opacity));
}

.text-\[\#545D69\] {
  --tw-text-opacity: 1;
  color: rgb(84 93 105 / var(--tw-text-opacity));
}

.text-\[\#63747B\] {
  --tw-text-opacity: 1;
  color: rgb(99 116 123 / var(--tw-text-opacity));
}

.text-\[\#667085\] {
  --tw-text-opacity: 1;
  color: rgb(102 112 133 / var(--tw-text-opacity));
}

.text-\[\#686868\] {
  --tw-text-opacity: 1;
  color: rgb(104 104 104 / var(--tw-text-opacity));
}

.text-\[\#7BB0FF\] {
  --tw-text-opacity: 1;
  color: rgb(123 176 255 / var(--tw-text-opacity));
}

.text-\[\#85C16D\] {
  --tw-text-opacity: 1;
  color: rgb(133 193 109 / var(--tw-text-opacity));
}

.text-\[\#892626\] {
  --tw-text-opacity: 1;
  color: rgb(137 38 38 / var(--tw-text-opacity));
}

.text-\[\#8993A4\] {
  --tw-text-opacity: 1;
  color: rgb(137 147 164 / var(--tw-text-opacity));
}

.text-\[\#E93030\] {
  --tw-text-opacity: 1;
  color: rgb(233 48 48 / var(--tw-text-opacity));
}

.text-\[\#F2F2F2\] {
  --tw-text-opacity: 1;
  color: rgb(242 242 242 / var(--tw-text-opacity));
}

.text-\[\#a0a0a0\] {
  --tw-text-opacity: 1;
  color: rgb(160 160 160 / var(--tw-text-opacity));
}

.text-\[\#ffffff\] {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}

.text-black {
  --tw-text-opacity: 1;
  color: rgb(0 0 0 / var(--tw-text-opacity));
}

.text-blue-600 {
  --tw-text-opacity: 1;
  color: rgb(37 99 235 / var(--tw-text-opacity));
}

.text-fuchsia-400 {
  --tw-text-opacity: 1;
  color: rgb(232 121 249 / var(--tw-text-opacity));
}

.text-gray-300 {
  --tw-text-opacity: 1;
  color: rgb(209 213 219 / var(--tw-text-opacity));
}

.text-gray-400 {
  --tw-text-opacity: 1;
  color: rgb(156 163 175 / var(--tw-text-opacity));
}

.text-gray-500 {
  --tw-text-opacity: 1;
  color: rgb(107 114 128 / var(--tw-text-opacity));
}

.text-gray-600 {
  --tw-text-opacity: 1;
  color: rgb(75 85 99 / var(--tw-text-opacity));
}

.text-gray-700 {
  --tw-text-opacity: 1;
  color: rgb(55 65 81 / var(--tw-text-opacity));
}

.text-gray-800 {
  --tw-text-opacity: 1;
  color: rgb(31 41 55 / var(--tw-text-opacity));
}

.text-gray-900 {
  --tw-text-opacity: 1;
  color: rgb(17 24 39 / var(--tw-text-opacity));
}

.text-green-600 {
  --tw-text-opacity: 1;
  color: rgb(22 163 74 / var(--tw-text-opacity));
}

.text-purple-400 {
  --tw-text-opacity: 1;
  color: rgb(192 132 252 / var(--tw-text-opacity));
}

.text-red-500 {
  --tw-text-opacity: 1;
  color: rgb(239 68 68 / var(--tw-text-opacity));
}

.text-red-600 {
  --tw-text-opacity: 1;
  color: rgb(220 38 38 / var(--tw-text-opacity));
}

.text-rose-400 {
  --tw-text-opacity: 1;
  color: rgb(251 113 133 / var(--tw-text-opacity));
}

.text-white {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}

.antialiased {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.opacity-0 {
  opacity: 0;
}

.opacity-100 {
  opacity: 1;
}

.opacity-50 {
  opacity: 0.5;
}

.shadow {
  --tw-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 1px 3px 0 var(--tw-shadow-color), 0 1px 2px -1px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.shadow-lg {
  --tw-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 10px 15px -3px var(--tw-shadow-color), 0 4px 6px -4px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.shadow-md {
  --tw-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 4px 6px -1px var(--tw-shadow-color), 0 2px 4px -2px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.shadow-sm {
  --tw-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
  --tw-shadow-colored: 0 1px 2px 0 var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.shadow-xl {
  --tw-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 20px 25px -5px var(--tw-shadow-color), 0 8px 10px -6px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.outline-none {
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.filter {
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
}

.transition {
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, -webkit-backdrop-filter;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-backdrop-filter;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.transition-all {
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.transition-opacity {
  transition-property: opacity;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.duration-1000 {
  transition-duration: 1000ms;
}

.duration-200 {
  transition-duration: 200ms;
}

.duration-300 {
  transition-duration: 300ms;
}

.duration-500 {
  transition-duration: 500ms;
}

.ease-in {
  transition-timing-function: cubic-bezier(0.4, 0, 1, 1);
}

.ease-in-out {
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.ease-out {
  transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #ededed;
}

::-webkit-scrollbar-thumb {
  background-color: #cdd0d4;
  border-radius: 0;
  width: 8px;
  border: none;
}

::-webkit-scrollbar-thumb:hover {
  background: #cdd0d4;
}

@media (min-width: 1280px) and (max-width: 1535px) {
}

@media (min-width: 992px) and (max-width: 1279px) {
}

@media (max-width: 991px) {
}

@media (min-width: 768px) and (max-width: 991px) {
}

@media (max-width: 639px) {
  .text-sm {
    font-size: 13px;
  }
}

@media (min-width: 1024px) {
  .site-dash-main .lg\:text-base {
    font-size: 15px;
  }

  @media (max-width: 767px){
    .site-dash-main .lg\:text-base {
      font-size: 14px;
    }
  }
}

.file\:mr-6::file-selector-button {
  margin-right: 1.5rem;
}

.file\:rounded-full::file-selector-button {
  border-radius: 9999px;
}

.file\:border-none::file-selector-button {
  border-style: none;
}

.file\:bg-\[\#3C8DBC\]::file-selector-button {
  --tw-bg-opacity: 1;
  background-color: rgb(60 141 188 / var(--tw-bg-opacity));
}

.file\:px-4::file-selector-button {
  padding-left: 1rem;
  padding-right: 1rem;
}

.file\:py-1::file-selector-button {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}

.file\:font-semibold::file-selector-button {
  font-weight: 600;
}

.file\:text-\[\#ffffff\]::file-selector-button {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}

.placeholder\:text-\[14px\]::-moz-placeholder {
  font-size: 14px;
}

.placeholder\:text-\[14px\]::placeholder {
  font-size: 14px;
}

.hover\:-translate-y-2:hover {
  --tw-translate-y: -0.5rem;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.hover\:bg-\[\#00A65A\]:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(0 166 90 / var(--tw-bg-opacity));
}

.hover\:bg-\[\#37BABB\]:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(55 186 187 / var(--tw-bg-opacity));
}

.hover\:bg-\[\#3C8DBC\]:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(60 141 188 / var(--tw-bg-opacity));
}

.hover\:bg-\[\#85C16D\]:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(133 193 109 / var(--tw-bg-opacity));
}

.hover\:bg-blue-100:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(219 234 254 / var(--tw-bg-opacity));
}

.hover\:bg-gray-100:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(243 244 246 / var(--tw-bg-opacity));
}

.hover\:bg-gray-50:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(249 250 251 / var(--tw-bg-opacity));
}

.hover\:bg-green-600:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(22 163 74 / var(--tw-bg-opacity));
}

.hover\:bg-opacity-50:hover {
  --tw-bg-opacity: 0.5;
}

.hover\:bg-opacity-90:hover {
  --tw-bg-opacity: 0.9;
}

.hover\:text-\[\#3C8DBC\]:hover {
  --tw-text-opacity: 1;
  color: rgb(60 141 188 / var(--tw-text-opacity));
}

.hover\:text-\[\#ffffff\]:hover {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}

.hover\:text-blue-700:hover {
  --tw-text-opacity: 1;
  color: rgb(29 78 216 / var(--tw-text-opacity));
}

.hover\:text-gray-700:hover {
  --tw-text-opacity: 1;
  color: rgb(55 65 81 / var(--tw-text-opacity));
}

.hover\:text-white:hover {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}

.hover\:underline:hover {
  text-decoration-line: underline;
}

.hover\:outline-none:hover {
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.hover\:file\:bg-\[\#3C8DBC\]::file-selector-button:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(60 141 188 / var(--tw-bg-opacity));
}

.focus\:outline-none:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.focus\:ring-1:focus {
  --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
  --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(1px + var(--tw-ring-offset-width)) var(--tw-ring-color);
  box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow, 0 0 #0000);
}

.focus\:ring-2:focus {
  --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
  --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(2px + var(--tw-ring-offset-width)) var(--tw-ring-color);
  box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow, 0 0 #0000);
}

.focus\:ring-\[\#3C8DBC\]:focus {
  --tw-ring-opacity: 1;
  --tw-ring-color: rgb(60 141 188 / var(--tw-ring-opacity));
}

.focus\:ring-blue-500:focus {
  --tw-ring-opacity: 1;
  --tw-ring-color: rgb(59 130 246 / var(--tw-ring-opacity));
}

.focus\:ring-green-500:focus {
  --tw-ring-opacity: 1;
  --tw-ring-color: rgb(34 197 94 / var(--tw-ring-opacity));
}

.focus\:ring-offset-2:focus {
  --tw-ring-offset-width: 2px;
}

.group:hover .group-hover\:-bottom-8 {
  bottom: -2rem;
}

.group:hover .group-hover\:-left-8 {
  left: -2rem;
}

.dark\:border-gray-600:is(.dark *) {
  --tw-border-opacity: 1;
  border-color: rgb(75 85 99 / var(--tw-border-opacity));
}

.dark\:border-gray-700:is(.dark *) {
  --tw-border-opacity: 1;
  border-color: rgb(55 65 81 / var(--tw-border-opacity));
}

.dark\:bg-gray-700:is(.dark *) {
  --tw-bg-opacity: 1;
  background-color: rgb(55 65 81 / var(--tw-bg-opacity));
}

.dark\:bg-gray-800:is(.dark *) {
  --tw-bg-opacity: 1;
  background-color: rgb(31 41 55 / var(--tw-bg-opacity));
}

.dark\:text-gray-400:is(.dark *) {
  --tw-text-opacity: 1;
  color: rgb(156 163 175 / var(--tw-text-opacity));
}

.dark\:text-green-500:is(.dark *) {
  --tw-text-opacity: 1;
  color: rgb(34 197 94 / var(--tw-text-opacity));
}

.dark\:text-white:is(.dark *) {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}

.dark\:placeholder-gray-400:is(.dark *)::-moz-placeholder {
  --tw-placeholder-opacity: 1;
  color: rgb(156 163 175 / var(--tw-placeholder-opacity));
}

.dark\:placeholder-gray-400:is(.dark *)::placeholder {
  --tw-placeholder-opacity: 1;
  color: rgb(156 163 175 / var(--tw-placeholder-opacity));
}

.dark\:ring-offset-gray-800:is(.dark *) {
  --tw-ring-offset-color: #1f2937;
}

.dark\:hover\:bg-gray-600:hover:is(.dark *) {
  --tw-bg-opacity: 1;
  background-color: rgb(75 85 99 / var(--tw-bg-opacity));
}

.dark\:hover\:bg-gray-700:hover:is(.dark *) {
  --tw-bg-opacity: 1;
  background-color: rgb(55 65 81 / var(--tw-bg-opacity));
}

.dark\:hover\:text-white:hover:is(.dark *) {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}

.dark\:focus\:ring-blue-600:focus:is(.dark *) {
  --tw-ring-opacity: 1;
  --tw-ring-color: rgb(37 99 235 / var(--tw-ring-opacity));
}

.dark\:focus\:ring-offset-gray-800:focus:is(.dark *) {
  --tw-ring-offset-color: #1f2937;
}

@media (min-width: 640px) {
  .sm\:block {
    display: block;
  }

  .sm\:flex {
    display: flex;
  }

  .sm\:max-w-2xl {
    max-width: 42rem;
  }

  .sm\:translate-y-4 {
    --tw-translate-y: 1rem;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  }

  .sm\:justify-start {
    justify-content: flex-start;
  }

  .sm\:rounded-lg {
    border-radius: 0.5rem;
  }

  .sm\:p-4 {
    padding: 1rem;
  }

  .sm\:p-6 {
    padding: 1.5rem;
  }

  .sm\:px-8 {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .sm\:py-12 {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }

  .sm\:py-6 {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
  }

  .sm\:pb-4 {
    padding-bottom: 1rem;
  }

  .sm\:pb-6 {
    padding-bottom: 1.5rem;
  }

  .sm\:pl-\[80px\] {
    padding-left: 80px;
  }

  .sm\:text-\[15px\] {
    font-size: 15px;
  }
}

@media (min-width: 768px) {
  .md\:mb-0 {
    margin-bottom: 0px;
  }

  .md\:mt-0 {
    margin-top: 0px;
  }

  .md\:block {
    display: block;
  }

  .md\:inline-flex {
    display: inline-flex;
  }

  .md\:hidden {
    display: none;
  }

  .md\:w-1\/2 {
    width: 50%;
  }

  .md\:w-1\/3 {
    width: 33.333333%;
  }

  .md\:w-2\/3 {
    width: 66.666667%;
  }

  .md\:w-\[140px\] {
    width: 140px;
  }

  .md\:w-\[300px\] {
    width: 300px;
  }

  .md\:min-w-\[340px\] {
    min-width: 340px;
  }

  .md\:min-w-\[350px\] {
    min-width: 350px;
  }

  .md\:max-w-\[880px\] {
    max-width: 880px;
  }

  .md\:grid-cols-1 {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }

  .md\:grid-cols-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .md\:grid-cols-3 {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }

  .md\:justify-end {
    justify-content: flex-end;
  }

  .md\:p-4 {
    padding: 1rem;
  }

  .md\:p-5 {
    padding: 1.25rem;
  }

  .md\:px-10 {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }

  .md\:pl-4 {
    padding-left: 1rem;
  }

  .md\:text-left {
    text-align: left;
  }

  .md\:text-\[16px\] {
    font-size: 16px;
  }

  .md\:text-\[18px\] {
    font-size: 18px;
  }

  .md\:text-\[22px\] {
    font-size: 22px;
  }

  .md\:text-sm {
    font-size: 0.875rem;
    line-height: 1.25rem;
  }
}

@media (min-width: 1024px) {
  .lg\:mb-10 {
    margin-bottom: 2.5rem;
  }

  .lg\:mt-0 {
    margin-top: 0px;
  }

  .lg\:hidden {
    display: none;
  }

  .lg\:h-\[50px\] {
    height: 50px;
  }

  .lg\:w-\[130px\] {
    width: 130px;
  }

  .lg\:w-\[270px\] {
    width: 270px;
  }

  .lg\:w-\[80px\] {
    width: 80px;
  }

  .lg\:max-w-\[1200px\] {
    max-width: 1200px;
  }

  .lg\:max-w-\[500px\] {
    max-width: 500px;
  }

  .lg\:max-w-\[700px\] {
    max-width: 700px;
  }

  .lg\:grid-cols-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .lg\:grid-cols-3 {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }

  .lg\:flex-nowrap {
    flex-wrap: nowrap;
  }

  .lg\:gap-6 {
    gap: 1.5rem;
  }

  .lg\:px-6 {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }

  .lg\:px-\[30px\] {
    padding-left: 30px;
    padding-right: 30px;
  }

  .lg\:pl-0 {
    padding-left: 0px;
  }

  .lg\:pl-\[240px\] {
    padding-left: 240px;
  }

  .lg\:pl-\[270px\] {
    padding-left: 270px;
  }

  .lg\:pl-\[320px\] {
    padding-left: 320px;
  }

  .lg\:pt-6 {
    padding-top: 1.5rem;
  }

  .lg\:text-\[20px\] {
    font-size: 20px;
  }

  .lg\:text-\[24px\] {
    font-size: 24px;
  }

  .lg\:text-base {
    font-size: 1rem;
    line-height: 1.5rem;
  }
}

@media (min-width: 1280px) {
  .xl\:mb-0 {
    margin-bottom: 0px;
  }

  .xl\:w-1\/2 {
    width: 50%;
  }

  .xl\:grid-cols-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .xl\:grid-cols-4 {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }

  .xl\:text-\[13px\] {
    font-size: 13px;
  }
}

@media (min-width: 1536px) {
  .\32xl\:w-\[300px\] {
    width: 300px;
  }

  .\32xl\:gap-\[70px\] {
    gap: 70px;
  }

  .\32xl\:py-3 {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
  }
}

